
        body{background-color:lightgray;}
        h1{text-align:center;color:black;font-size:40px;font-weight:bold;text-shadow: 5px 5px 5px #FF0000;}
        div{background-color:pink;width:550px;margin:30;padding:25px;border:2px solid green;position:absolute; top:20%;left:25%}
